   .custom-back-button {  
      background-color: white;  
      color: black;  
      border-radius: 0;  
      border: 1px solid #ccc;  
      padding: 10px;  
      display: flex;  
      align-items: center;  
      justify-content: center;  
    }  

    .image-container {
      margin: 20px 0;
      text-align: center;
      
    }


    ion-icon {  
      margin-right: 8px;  
    } 