.destacar1 {
  background-color: #efd7d6; 
  font-size: 1.2rem; 
  font-weight: bold;
  color: #5d0803; 
  border-left: 6px solid #b00f07;
  padding-left: 12px;
  margin-top: 8px;
  border-radius: 6px;
}


.destacar2 {
  background-color: #e6f7ff;
  font-size: 1.2rem;
  font-weight: bold;
  color: #003366;
  border-left: 6px solid #3399ff;
  padding-left: 12px;
  margin-top: 8px;
  border-radius: 6px;
}
