<!-- Este es mi: login.page.html -->

<ion-header [translucent]="true">  
      <ion-toolbar> 
      <ion-buttons slot="end">
        <ion-button (click)="goBack()" class="custom-back-button" fill="clear">
        <img src="assets/img/5469759.png">
        </ion-button>
      </ion-buttons> 
        <ion-title>INGRESO</ion-title>  
      </ion-toolbar>  
    </ion-header>  
   
      <div class="image-container">
        <img src="assets/img/alert control 3 37p.png">
      </div>
    
    <ion-toolbar>
      <ion-title>Ingresa tus Datos</ion-title>
    </ion-toolbar>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="floating">Correo electronico</ion-label>
        <ion-input [(ngModel)]="mail" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>

      <div style="text-align: end;">
        <a (click)="navigateToRecupera()" style="color: var(--ion-color-primary); text-decoration: none; cursor: pointer;">
          ¿Olvidaste tu contraseña?
        </a>
      </div>
    </ion-content>

    <ion-button id="btnValidacion" 
      size="large"
      (click)="pruebaClickValidacion()" 
      color="primary" 
      expand="block"
    >Entrar</ion-button>