<!-- Este es mi: home.page.html -->

<ion-header></ion-header>
    <ion-content>
      <div class="ion-padding content-container">
        <!-- Imagen centrada con margen -->
        <div class="image-container">
          <img src="assets/img/alert control 3 75p.png" 
            alt="Alert Control Image"
            class="custom-image"
          >
        </div>
        <!-- Botón btnprueba -->
        <ion-button id="btnlogin" 
          size="large"
          (click)="pruebaClickLogin()" 
          color="primary" 
          expand="block"
        >Entrar</ion-button>
        <br>
        <br>
        <p> Aun no estas registrado? 
        <br>
        <ion-button id="btnregistro"
          size="default"
          (click)="pruebaClickRegistro()" 
          color="secondary" 
          expand="block"
        >R e g i s t r a t e</ion-button>
      </div>
    </ion-content>
<ion-footer>
  <p style="text-align: center;font-size: 0.8rem">Methalix76 SpA.</p>
</ion-footer>
